

<!------ Include the above in your HEAD tag ---------->


<div class="container mt-5 mb-5">
	<div class="row">
		<div class="col-md-6 offset-md-3">
            <h2>Breve historia de Barrio Salvador Celi</h2>
            <div class="text-muted mt-5 mb-5  small"> colaboracion del Eco. Oswaldo Germán Simba S.   </div>
			<ul class="timeline">
            
                <li>
					<a>1985  </a>
					<p>Nuestra organización conenzo a dar escrituras individuales como Comite Salvador </p>
                </li>
                
                <li>
					<a>1976 </a>
					<p>Por mandato de la ley de Vivienda se transforma en Cooperativa de Vivienda Salvador Celi, esto fué en el Gobierno del General Guillermo Rodriguez Lara por q los Comités de Vivienda cpmenzaron a tener presencia política especialnente el Comité del Pueblo. </p>
				</li>
				
                <li>
                    <a>1973 </a>
					<p>Se forma el Comité de Vivienda Salvador Celi.</p>
				</li>
                <li>
					<a > 1971 </a>
					<p>La Salvador Celi se reune o se agrupa para solucionar el problema de  Vivienda el año</p>
				</li>
			</ul>
		</div>
	</div>
</div>



