

<!------ Include the above in your HEAD tag ---------->


<div class="container mt-5 mb-5">
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<h2>Breve historia de Barrio Salvador Celi</h2>
			<ul class="timeline">
			
				
                <li>
					<a >Coperativa de Vivienda Salvador Celi</a>
					<a  class="float-right">4 Junio, 1985</a>
					<p>Por iniciativa de la directiva conformada por los señores se fuenda la coperativa de vivienda Salvador Celi</p>
				</li>
                <li>
					<a >Huertos familiares</a>
					<a  class="float-right">13 Marzo, 1978</a>
					<p>El consejo provincial comienz el plan de lotizacion conocido en ese entonces como huertos familiares</p>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="text-muted mt-5 mb-5 text-center small"> colaboracion del Eco. Oswaldo Germán Simba S.   </div>

